.benton-reg {
	font-family: BentonSansCond-Regular;
}
.benton-ital {
	font-family: BentonSansCond-BoldItalic;
}

#app {
	margin: 0 auto;
	max-width: 750px;
	overflow-y: auto;
}
#app #grid {
	display: flex;
	flex-wrap: wrap;
}
#app .grid-item {
	flex: 1;
	flex-basis: 100%;
	margin: 20px 0.25rem;
	position: relative;
}

#app .annotations {
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 10;
}

#app .aqhi {
	background-color: rgba(255, 255, 255, 0.8);
	color: #FFF;
	margin: 0;
	max-width: 125px;
	padding: 3px;	
}
#app .aqhi.shadow {
	text-shadow: 1px 1px 7px var(--black);
}
#app .aqhi.three {
	color: #006699;
}
#app .aqhi.five {
	color: #FFCC01;
}
#app .aqhi.eight {
	color: #FD0000;
}
#app .aqhi.nine {
	color: #CC0000;
}
#app .aqhi.ten {
	color: #660000;
}
#app .labels {
	height: 100%;
	pointer-events: none;
	position: relative;
	width: 100%;
}
#app .date {
	color: var(--black);
}


#app .labels > p {
	color: #FFF;
	position: absolute;
	text-shadow: 1px 1px 7px var(--black);
	z-index: 10;
}
#app .labels #metro {
	left: 40%;
	text-align: center;
	top: 15%;
	width: 100px;
}
#app .labels #seattle {
	bottom: 40%;
	left: 70%;
	text-align: center;
}

#app .labels #victoria {
	bottom: 60%;
	left: 35%;
	text-align: center;
}

#app .grid-item > img {
	display: block;
	width: 100%;
}



/* POSTMEDIA STYLES */
#app h1 {
	color: var(--black);
	font-family: Shift-BoldItalic, serif;
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
#app h2 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
	margin: 1px 0;
}
#app h3 {
	color: var(--black);
	font-family: BentonSansCond-Bold, sans-serif;
}


#app p {
	color: var(--black);
	font-family: BentonSansCond-Regular, Helvetica, sans-serif;
	line-height: 1.3rem;
	margin: 0;
}

#app footer {
	display: flex;
}

#app footer > p {
	flex: 1;
}

#app .note,
#app .source,
#app .credit {
	color: var(--grey02);
	font-size: 0.8rem;
	cursor: pointer;
}

#app .credit {
	text-align: right;
}

#app .source a {
	color: inherit;
}




@media only screen and (min-width: 500px) {
    /* Style adjustments for viewports that meet the condition */
    #app .grid-item {
    	flex: 1;
    	flex-basis: 45%;
    	margin: 20px 0.25rem;
    	position: relative;
    }
    #app .labels #metro {
    	top: 5%;
    }
    #app .labels #seattle {
    	bottom: auto;
    	top: 55%;
    }

    #app .labels #victoria {
    	display: none;
    }
}

@media only screen and (min-width: 685px) {
    /* Style adjustments for viewports that meet the condition */
    #app .labels #metro {
    	top: 10%;
    }
    #app .labels #seattle {
    	bottom: 30%;
    }

    #app .labels #victoria {
    	bottom: auto;
    	display: block;
    	top: 35%;

    }
}
